<%= simple_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :name, label:"Nom de l'événement" %><br>

  <%= f.input :eventday, label:"Date" %> <br>
  
  <div id='gmaps-canvas'></div> <br>
  
  <%= f.input :place, label:"Lieu", input_html:{id: 'gmaps-input-address'}, placeholder: 'Start typing a place...' %> <br>
 
  <%= f.input :longitude, input_html: {id: 'gmaps-output-latitude'}, as: :hidden, label: false %>
  
  <%= f.input :latitude, input_html: {id: 'gmaps-output-longitude'}, as: :hidden, label: false %>
  
  <div class ="row">
    <div class="col-sm-0 col-md-0 col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class = "scroll_box">
        
        <%= f.collection_check_boxes :contribution_ids, Contribution.all.map {|c| [c.id, c.name]}, :first, :last %>
      </div> 
    </div>
    <div class="col-sm-0 col-md-0 col-lg-2"></div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
  <%= f.submit 'Créer event', input_html: {class: 'btn btn-primary btn-lg'} %>
  </div>
<% end %>


