<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>L'événement 
  <%= @event.name %>
  a été créé avec succès</strong>
</p>

<p>
  <strong>Jour de l'événement:</strong>
  <%= @event.eventday %>
</p>

<p>
  <strong>Lieu de l'événement:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Les contributions à amener sont : </strong>
  <%= @event.contributions.each do |contribution| %>
    <%= contribution.name %>
  <% end %>
</p>


